footer
  .footer-container 
    .footer-row 
      .footer-col
        h4 company
        ul 
          li: a(href='#footer') about us
      .footer-col
        h4 help
        ul 
          li: a(href='footer') Community
          li: a(href='footer') Contact us
          li: a(href='footer') Support Centre
          li: a(href='footer') FAQ
      .footer-col
        h4 Privacy
        ul 
          li: a(href='#footer') Cookie Policy
          li: a(href='#footer') privacy policy
          li: a(href='#footer') Terms
      .footer-col
        h4 Socials
        .social-links
          a(href='https://twitter.com', target='_blank', rel='noopener noreferrer'): i(class="fab fa-twitter")
          a(href='https://instagram.com', target='_blank', rel='noopener noreferrer'): i(class="fab fa-instagram")
          a(href='https://linkedin.com', target='_blank', rel='noopener noreferrer'): i(class="fab fa-linkedin-in")
    .bottom-bar
      p Copyright &copy; 2026 Health Tracker
