//- -------------------------------------------------------
//- login.pug - Login Page
//- -------------------------------------------------------
//- This page allows users with an existing account to log
//- into the app via username and password.
//- -------------------------------------------------------

extends layout

block content
  section.auth-page
    .auth-card
      h1 Login
      p.auth-subtitle Access your FEED Birmingham account.

      if error
        .error-box= error

      form.form(action='/login' method='POST')
        .form-group
          label(for='username') Username
          input#username.input(type='text' name='username' placeholder='Username' required)

        .form-group
          label(for='password') Password
          input#password.input(type='password' name='password' placeholder='Password' required)

        button.btn.btn-primary(type='submit') Login

      p.auth-switch
        a(href='/forgot-password') Forgot password?

      p.auth-switch
        | Don't have an account?
        a(href='/register') Create one here!

      a.back-home(href='/') ← Back to home
