extends layout

block content
  section.auth-page
    .auth-card
      .auth-logo
        img(src='/images/logo-icon.png', alt='Feed Birmingham', height='72')

      h1 Welcome Back
      p.auth-subtitle Login to your Feed Birmingham account.

      if error
        .error-box
          i.fa-solid.fa-circle-exclamation
          = error

      form.auth-form(action='/login', method='POST')
        .form-group
          label(for='email')
            i.fa-solid.fa-envelope
            |  Email
          input#email(type='email', name='email', placeholder='Enter your email address', required)

        .form-group
          label(for='password')
            i.fa-solid.fa-lock
            |  Password
          input#password(type='password', name='password', placeholder='Enter your password', required)

        .form-row-check
          label.checkbox-label
            input(type='checkbox', name='remember')
            span Remember me
          a.forgot-link(href='/forgot-password') Forgot password?

        button.btn.btn-green.btn-full(type='submit') Login

      .auth-divider
        span or

      .auth-switch
        | Don't have an account?
        a(href='/register')  Create one here

      a.back-home(href='/')
        i.fa-solid.fa-arrow-left
        |  Back to home
