//- -------------------------------------------------------
//- register.pug - User Register Page
//- -------------------------------------------------------
//- This page gives the user the ability to create a new account.
//- Usernames must be unique and passwords should be hashed
//- before being stored in the database.
//- -------------------------------------------------------

extends layout

block content
  section.auth-page
    .auth-card
      h1 Register
      p.auth-subtitle Create a FEED Birmingham account to access food assistance services.

      if error
        .error-box= error

      form.form(action='/register' method='POST')

        .form-group
          label(for='name') Full name
          input#name.input(type='text' name='name' placeholder='Full name' required)

        .form-group
          label(for='username') Username
          input#username.input(type='text' name='username' placeholder='Username' required)

        .form-group
          label(for='email') Email
          input#email.input(type='email' name='email' placeholder='Enter email' required)

        .form-group
          label(for='password') Password
          input#password.input(type='password' name='password' placeholder='Enter password' required)

        .form-group
          label(for='password2') Confirm password
          input#password2.input(type='password' name='password2' placeholder='Re-enter password' required)

        button.btn.btn-primary(type='submit') Create Account

      p.auth-switch
        | Already have an account?
        a(href='/login') Log in here!

      a.back-home(href='/') ← Back to home
