extends layout

block content
  section.auth-page
    .auth-card
      .auth-logo
        img(src='/images/logo-icon.png', alt='Feed Birmingham', height='72')

      h1 Create Your Account
      p.auth-subtitle Join Feed Birmingham to access food assistance services.

      if error
        .error-box
          i.fa-solid.fa-circle-exclamation
          |
          = error

      form.auth-form(action='/register', method='POST')
        .form-group
          label(for='username')
            i.fa-solid.fa-user
            |  Username
          input#username(type='text', name='username', placeholder='Choose a username', required, autocomplete='username')

        .form-group
          label(for='email')
            i.fa-solid.fa-envelope
            |  Email Address
          input#email(type='email', name='email', placeholder='Enter your email address', required, autocomplete='email')

        .form-group
          label(for='password')
            i.fa-solid.fa-lock
            |  Password
          input#password(type='password', name='password', placeholder='Create a password (min 6 characters)', required, autocomplete='new-password')

        .form-group
          label(for='password2')
            i.fa-solid.fa-lock
            |  Confirm Password
          input#password2(type='password', name='password2', placeholder='Re-enter your password', required, autocomplete='new-password')

        button.btn.btn-green.btn-full(type='submit')
          i.fa-solid.fa-user-plus
          |  Create Account

      .auth-divider
        span or

      .auth-switch
        | Already have an account?
        a(href='/login')  Log in here

      a.back-home(href='/')
        i.fa-solid.fa-arrow-left
        |  Back to home
